<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http:springframework.org.dtd/spring-beans.dtd">
    <beans default-autowire="byName">
    <!--work01 Spring -->
    <bean id="ContractFormListener" class="com.seeyon.apps.work.work01.manager.ContractFormListener"/>
    <!--work02 Spring -->
    <bean id="EndOfContractProcessMonitoring" class="com.seeyon.apps.work.work02.manager.EndOfContractProcessMonitoring"/>
    <!--work03 Spring -->
    <bean id="regulatoryContractManagerImpl" class="com.seeyon.apps.work.work03.manager.impl.RegulatoryContractManagerImpl"/>
    <!--work04 Spring -->
    <bean id="ContractInfoModifyImpl" class="com.seeyon.apps.work.work04.manager.impl.ContractInfoModifyImpl"/>
    <!--work05 Spring -->
    <bean id="TimedTaskImpl" class="com.seeyon.apps.work.work05.manager.impl.TimedTaskImpl" init-method="init"/>
    <!--work06 Spring -->
    <bean id="payEventListener" class="com.seeyon.apps.work.work06.manager.PayEventListener"/>
    <!--document FTP-->
    <bean id="FtpManager" class="com.seeyon.apps.work.document.manager.impl.FtpManagerImpl" init-method="init"/>
    <bean id="opinionListManager1" class="com.seeyon.apps.work.document.manager.impl.OpinionListManagerImpl"/>
    <bean id="edocOpinionManager1" class="com.seeyon.apps.work.document.manager.impl.EdocOpinionManagerImpl"/>
</beans>