<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http:springframework.org.dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <!--	work01-->
    <bean name="/SignInController.do" class="com.seeyon.apps.work.work01.controller.SignInController"/>
    <!--	work03-->
    <bean name="/regulatoryContractController.do" class="com.seeyon.apps.work.work03.controller.RegulatoryContractController"/>
    <!--document -->
    <bean name="/DownloadAttachment.do" class="com.seeyon.apps.work.document.controller.DownloadAttachment"/>
    <bean name="/opinionController.do" class="com.seeyon.apps.work.document.controller.OpinionController"/>
    <!--最后一个需求选人控件增加账户显示接口-->
    <bean name="/userAccount.do" class="com.seeyon.apps.work.getAccount.UserAccount"/>
</beans>